# Ignore specific HQC executables
VLSPQC/KEM/HQC/HQC-128/HQC-128
VLSPQC/KEM/HQC/HQC-128/HQC-192
VLSPQC/KEM/HQC/HQC-128/HQC-256
# Ignore specific HQC executables
VLSPQC/KEM/HQC-v5/HQC-1/HQC-1
VLSPQC/KEM/HQC-v5/HQC-3/HQC-3
VLSPQC/KEM/HQC-v5/HQC-5/HQC-5

# Ignore specific ML-KEM executables
VLSPQC/KEM/ML-KEM/ml-kem-512/ml-kem-512
VLSPQC/KEM/ML-KEM/ml-kem-768/ml-kem-768
VLSPQC/KEM/ML-KEM/ml-kem-1024/ml-kem-1024

# Ignore specific ML-DSA executables
VLSPQC/DS/ML-DSA/ML-DSA-2/ML-DSA-2
VLSPQC/DS/ML-DSA/ML-DSA-3/ML-DSA-3
VLSPQC/DS/ML-DSA/ML-DSA-5/ML-DSA-5

# Ignore specific CROSS executables
VLSPQC/DS/CROSS/CROSS_1_RSDP_b/CROSS_1_RSDP_b
VLSPQC/DS/CROSS/CROSS_1_RSDP_b/CROSS_1_RSDP_f
VLSPQC/DS/CROSS/CROSS_1_RSDP_b/CROSS_1_RSDP_s
VLSPQC/DS/CROSS/CROSS_1_RSDPG_b/CROSS_1_RSDPG_b
VLSPQC/DS/CROSS/CROSS_1_RSDPG_b/CROSS_1_RSDPG_f
VLSPQC/DS/CROSS/CROSS_1_RSDPG_b/CROSS_1_RSDPG_s
VLSPQC/DS/CROSS/CROSS_3_RSDP_b/CROSS_3_RSDP_b
VLSPQC/DS/CROSS/CROSS_3_RSDP_b/CROSS_3_RSDP_f
VLSPQC/DS/CROSS/CROSS_3_RSDP_b/CROSS_3_RSDP_s
VLSPQC/DS/CROSS/CROSS_3_RSDPG_b/CROSS_3_RSDPG_b
VLSPQC/DS/CROSS/CROSS_3_RSDPG_b/CROSS_3_RSDPG_f
VLSPQC/DS/CROSS/CROSS_3_RSDPG_b/CROSS_3_RSDPG_s
VLSPQC/DS/CROSS/CROSS_5_RSDP_b/CROSS_5_RSDP_b
VLSPQC/DS/CROSS/CROSS_5_RSDP_b/CROSS_5_RSDP_f
VLSPQC/DS/CROSS/CROSS_5_RSDP_b/CROSS_5_RSDP_s
VLSPQC/DS/CROSS/CROSS_5_RSDPG_b/CROSS_5_RSDPG_b
VLSPQC/DS/CROSS/CROSS_5_RSDPG_b/CROSS_5_RSDPG_f
VLSPQC/DS/CROSS/CROSS_5_RSDPG_b/CROSS_5_RSDPG_s

