# Ignore specific HQC executables
VLSPQC/KEM/HQC/HQC-128/HQC-128
VLSPQC/KEM/HQC/HQC-128/HQC-192
VLSPQC/KEM/HQC/HQC-128/HQC-256

VLSPQC/DS/CROSS/CROSS_1_RSDPG/CROSS_1_RSDPG
VLSPQC/DS/CROSS/CROSS_1_RSDP/CROSS_1_RSDP